<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Feature documentation - {{creationdate}}</title>

    <style type="text/css">
      {{{cssStyles}}}
    </style>
  </head>
  <header>
    <div>Feature documentation - {{creationdate}}</div>
  </header>

  <body>
    <h1>{{productname}}</h1>

    <p>
      {{productdescription}}
    </p>

    {{{featuresHtml}}}
  </body>
</html>
